
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #314750);
}AA

.calculator {
    border: 1px solid rgb(205, 204, 204);
    padding: 20px;
    border-radius: 9px;
    background: transparent;
    box-shadow: 0px 4px 15px rgb(92, 92, 92, 0.5);
    /* display: flex; */
    
}

input {
    width: 360px;
    border: none;
    padding: 20px;
    margin: 15px 0;
    background: transparent;
    box-shadow: 0px 4px 15px rgb(92, 92, 92, 0.5);
    font-size: 40px;
    text-align: right;
    cursor: text;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

button {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    box-shadow: 0px 4px 15px rgb(92, 92, 92, 0.5);
    font-size: 1.5rem;
    cursor: pointer;
}
button:hover {
    scale: 1.1;
    transition: 0.3s;
    background-color: #ffffff;
    color: #000000;
}

.acdel {
    background-color: rgb(255, 0, 0);
}

.acdel:hover {
    background-color: rgb(255, 0, 89);
}

.eqlbtn {
    background-color: rgb(255, 130, 0);
}

.eqlbtn:hover {
    background-color: rgb(255, 180, 0);
}

.operator {
    color: greenyellow;
}







